

.container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.container.mt-5 {
    margin-top: 3rem !important;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #c98cf4 !important; 
}

.display-4 {
    font-weight: 700;
    color: #cccbcd !important; 
}


.btn-secondary:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(210, 28, 255, 0.567);
    transition: all 0.2s ease-in-out;
}

.card-text.fs-5{
    color:#c98cf4 !important;     
}

.mb-3{
    color:#c98cf4 !important;
}

.card-title{
    color: #c98cf4 !important;
}

.lead{
    color: #c98cf4 !important;
    font-weight: bold;
}
